@using ErpSystem.Services.ViewModels.Customer
@model GenerateSaleCustomerViewModel

@{
    ViewData["Title"] = "Customer Drop Down";
}

<form method="post" style="font-size:1vw">
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="small mb-1" asp-for="CustomersNames">Customer</label>
                <select class="form-control" id="customersNames" type="text" asp-for="CustomersNames" asp-items="Model.CustomersNames"> </select>
                <span asp-validation-for="CustomersNames" class="text-danger" style="font-size:0.7vw"></span>
            </div>
        </div>
    </div>
</form>