@using ErpSystem.Services.Services
@model IEnumerable<KeyValuePair<string, int>>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>

<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                Warehouse Boxes Space Chart
            </div>
            <div class="card-body"><canvas id="myPieChartBoxes" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar mr-1"></i>
                Warehouse Pallets Space Chart
            </div>
            <div class="card-body"><canvas id="myPieChartPallets" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>


<script src="~/js/chart-pie-demo.js"></script>
