@using ErpSystem.Services.ViewModels.Sale
@model IEnumerable<KeyValuePair<string, decimal>>

<div class="container-fluid">
    <h1 class="mt-4">Charts</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home/Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Charts</li>
    </ol>
    <div class="card mb-4">
        <form>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputStartDate">Start Date</label>
                        <input class="form-control py-4" id="inputStartDate" type="date" placeholder="Enter start date" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputEndDate">End Date</label>
                        <input class="form-control py-4" id="inputEndDate" type="date" placeholder="Enter end date" />
                    </div>
                </div>
            </div>
            <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" id="submit">Submit</a></div>
        </form>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-bar mr-1"></i>
            Sales Chart
        </div>
        <div class="card-body">
            <canvas id="myBarChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated @string.Format("{0:hh:mm:ss tt}", DateTime.UtcNow.AddHours(2))</div>
    </div>
</div>

<script src="~/js/chart_data.js"></script>
